[submodule "nickmcmillan/forty"]
	path = nickmcmillan/forty
	url = https://github.com/MarcusVirg/forty
[submodule "nickmcmillan/--force"]
	path = nickmcmillan/--force
	url = https://github.com/MarcusVirg/forty
